body {
  background-image: url(/assets/background.jpg);
  repeat: repeat;
}

h1 {
  font-family: honk, dotgothic16, dot;
  font-size: 3rem;
  padding: 0;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: dotgothic16, dot;
  font-size: 1.5rem;
  padding: 0;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: dotgothic16, dot;
  font-size: 1rem;
  padding: 0;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: dotgothic16, dot;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-family: dotgothic16, dot;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: cyan;
  color: black;
}

.dropdown {
  display: none;
}


@media screen and (max-width: 600px) {
  ul {
      display: none;
  }
  .dropdown {
      display: inline-block;
      margin-left: 25%;
  }
     
  .dropdown-content {
  display: none;
  position: absolute;
  background-color: darkorange;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px whitesmoke;
  z-index: 1;
  }
     
  .dropdown-content a {
  color: whitesmoke;
  font-family: dotgothic16, dot;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
     
  .dropdown-content a:hover {background-color: darkorange; color: whitesmoke}
     
  .dropdown:hover .dropdown-content {
  display: block;
  }
     
  .dropdown:hover .dropbtn {
  background-color: darkorange;
  color: whitesmoke;
  }

  .dropdown-content {
      width: 100%;
  }
  .opening {
      width: 96vw;
  }

  .dropbtn {
    background-color: darkorange;
    color: white; 
    border: hotpink 2px solid;
    width: 100px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
  }
}