img {
    width: 200px;
    max-width: 90%;
    height: auto;
    margin-right: 20px;
}

.btn {
    background-color: darkorange;
    border: none;
    font-family: dotgothic16, dot;
    font-weight: 600;
    cursor: pointer;
    width: 100px;
    height: 50px;
}